.row a{
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.home-device {
    display: none;
}


    @media (max-width: 425px) {
    
        .navigasi {
            display: none;
        }
    
        .home-device {
            display: block;
            align-items: center;
        }
    
        .col {
            display: contents;
        }    
    
        .back {
            display: none;
        }
    
        .mb-5 {
            display: none;
        }

        .mt-3 {
            margin-left: 16px;
        }

        .foto {
            margin-top: 20px;
            margin-left: 70px;
        }

        img.foto {
            margin: auto;
        }
    
        .btn-danger {
            margin-top: 40px;
        }
    
        .form-grup2 {
            padding-left: 16px;
        }
    }
